@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.overlay-window {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.overlay-window * {
    pointer-events: auto;
    /* Enable pointer events for all children */
}

.info-window {
    position: absolute;
    left: 66%;
    top: 1.25%;
    width: 32.5vw;
    background-color: rgba(36, 36, 36, 0.85);
    height: 96.5%;
    border: 5px solid wheat;
    border-radius: 20px;
}

.info-text {
    margin: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

.left-right-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 1%;                 
}

.overlay-window .left-right-buttons button {
    height: 48px;
    width: 48px;
    padding: 0;
    margin: 0;
}

.overlay-window .left-right-buttons button img {
    height: 40px;
    width: 40px;
    filter: invert(1);
}

.button-go-left,
.button-go-right {
    display: flex;          
    align-items: center;     
    justify-content: center; 
}

.button-go-right img {
    transform: scaleX(-1);
}