@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.hidden-text {
    margin-top: 1em;
    /* height: auto; */
    display: grid;
    align-items: center;
    justify-items: center;
}

.hidden-text.apple {
    background-color: tomato;
    background: repeating-linear-gradient(45deg,
            #25C45B,
            #FFB830 30px,
            #FF5030 30px,
            #FF7258 60px);
    background-size: 200% 200%;
    animation: barberpole 15s linear infinite;
}

.hidden-text.banana {
    background-color: tomato;
    background: repeating-linear-gradient(45deg,
            #FFEF4D,
            #FFE800 30px,
            #44E500 30px,
            #7CF449 60px);
    background-size: 200% 200%;
    animation: barberpole 15s linear infinite;
}

.hidden-text.strawberry {
    background-color: tomato;
    background: repeating-linear-gradient(45deg,
            #FF0D00,
            #FF564D 30px,
            #E0006E 30px,
            #F52289 60px);
    background-size: 200% 200%;
    animation: barberpole 15s linear infinite;
}

.hidden-text.grape {
    background-color: tomato;
    background: repeating-linear-gradient(45deg,
            #0E0EC8,
            #4040ED 30px,
            #7106C3 30px,
            #992EEB 60px);
    background-size: 200% 200%;
    animation: barberpole 15s linear infinite;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

.hidden-text-inner {
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background-color: rgba(60, 10, 0, 0.55);
    display: grid;
    align-items: center;
    justify-items: center;
}

.lock-icon {
    width: 64px;
    height: 64px;
    opacity: 0.8;
    transition: opacity 0.1s ease, transform 0.1s ease;
    position: fixed;
}

.lock-icon:hover {
    opacity: 1;
    transform: scale(1.05);
}

.unlock-anim {
    animation: unlockIconAnim .75s ease-out forwards;
}

@keyframes unlockIconAnim {
    80% {
        filter: invert(1);
        transform: scale(1.3);
    }

    100% {
        opacity: 0;
    }
}

.circle {
    background-color: #242424;
    transition: clip-path 0.5s ease;
    clip-path: circle(0px at center);
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.transformed-circle {
    background-color: #242424;
    transition: clip-path 1.5s ease-in-out 0.5s;
    clip-path: circle(500px at center);
    position: fixed;
    overflow: hidden;
}

.circle.transform-circle {
    animation: expandCircle 1.5s ease-in-out 0.5s forwards;
}

@keyframes expandCircle {
    100% {
        clip-path: circle(500px at center);
    }
}